body{
padding: 0px;
margin: 0px;
background: #009900;
}

header.bastatitlenanamanto{
text-align: left;
font: "Times New Roman";
font-size: 50px;
background: yellow;
}

img.abalasikim{
height: 550px;
width: 550px;
margin-left: 100px;
}

img.gagidikotoweb{
height: 550px;
width: 550px;
}

img{
height: 290px;
width: 290px;
margin-left: 15px;
border: 1px solid black;
}

footer{
background: grey;
}
